<%- include('top.ejs') %>

<h3><%=title %></h3>
<p>Please confirm if the WordPress Profile username (<a href="https://profiles.wordpress.org/<%=userName %>" target="_blank">@<%=userName %></a>) is correct.</p>
<p>Check documentation on how to create a WordPress Card clicking <a href="<%=appURL%>">here</a>.</p>

<p><%=error%></p>

<%- include('bottom.ejs') %>